*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  /* font-size: 16px; */
  background-color:rgb(241, 217, 106);
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
.search-bar{
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
#search-input{
  font-size: 1.5rem;
  padding: 15px 30px;
  border-radius: 5px 0 0 5px;
  border: none;
  margin-right: 0;
}
#search-input:focus{
  outline: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
}

#search-btn{
  font-size: 1.5rem;
  padding: 15px 30px;
  border-radius: 0px 5px 5px 0;
  border: none;
  margin-left: 0;
  outline: none;
  transition: .3s;
}
#search-btn:hover{
  background-color: salmon;
  color: white;
}
#search-btn:active{
  background-color: rgb(255, 193, 187);
  color: white;
}

/* grid container */
.grid-container{  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.food-items{
  width: 100%;
  margin: 50px 0;
}
.item{
  width: 100%;
  height: 330px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, .2);
  position: relative;
  transition: .3s;
}
.item:hover{
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .3);
  cursor: default;
}

.food-pic{
  width: 100%;
  height: 100%;
}
.food-pic img{
  width: 100%;
  height: 100%;
  transition: .5s;
}
.item:hover .food-pic img{
  transform: scale(1.3);
}
.food-title{
  width: 100%;   
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  bottom: 0;
}
.food-title h2{
  font-weight: 500;
  font-size: 1.5rem;
  margin: 20px;
  text-align: center;
}

/* style for modal */
.modal{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-window{
  width: 800px;
  /* height: 100%; */
  border-radius: 20px;
  background-color: white;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, .5);
  /* overflow: hidden; */
  position: relative;
}
.details{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
}
.thumb{
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
}
.thumb img{
  max-width: 350px;
  border-radius: 20px;
}

.info{
  width: 100%;
  height: 65%;
  position: relative;
  /* overflow: hidden; */
}
.info h2{
  text-transform: capitalize;
  font-size: 2rem;
  color: salmon;
  margin-bottom: 0;
  margin-top: 10px;
}
p.list-title{
  font-weight: 600;
  margin: 0;
}
.ingredients{
  column-count: 2;
  width: 100%;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap; */
  margin-top: 0;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 20px;
  */
  list-style-type: decimal-leading-zero; 
}

#close-btn{
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 2;
}
#close-btn p{
  padding: 20px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0;
  color: gray;
}
#close-btn p:hover{
  color: rgb(199, 199, 199);
  cursor: default;
}